---
layout: archive
title: "Hobbies"
permalink: /hobbies/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
 -->

I enjoy photography, particularly capturing the beauty of natural landscapes and everyday moments.
“Beauty is everywhere. It is not that she is lacking to our eye, but our eyes which fail to perceive her.”
---Auguste Rodin

<p align="center">
  <img src="/images/hobbies1.jpg" height="50" alt="Image 2" style="height:250px">
</p>
